.form_container {
  position: fixed;
  background-color: rgb(255, 255, 255, 0.7);
  width: 500px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  
  .login_title {
    text-align: center;
    height: 80px;
    line-height: 80px;
    font-size: 30px;
    color: #007acc;
  }
}
